body {
    font-family: Arial, sans-serif;
    margin-top: 165px; /* desplaza los resultados hacia arriba mientras menos px tenga  */
}

.header, .fixed-title {
    position: fixed;
    top: 100px;
    height: 10%;
    width: 100%;
    background-color: #fff;
    z-index: 0.5;
    padding: 10px;
    
}

.fixed-title {
    position: fixed; /* Cambiado de relative a fixed */
    top: 61px; /* Ajusta este valor si es necesario para que quede pegado a la barra superior */
    left: 0; /* Asegura que el elemento se extienda desde el borde izquierdo */
    right: 0; /* Asegura que el elemento se extienda hasta el borde derecho */
    margin-top: 0; /* Ya no es necesario debido al posicionamiento fijo */
    height: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(2, 2, 2, .9);
    -webkit-text-stroke: 1.5px rgb(17, 11, 2);
    z-index: 1001; /* Asegura que esté sobre la barra superior y otros elementos */
}

.fixed-title::before {
    content: ''; /* Necesario para que el pseudo-elemento se muestre */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../static/fondomedicina.jpg');
    background-repeat: repeat;
    background-size: 175px 175px;
    opacity: 0.65; /* Aplica opacidad solo al fondo */
    z-index: -1; /* Coloca el fondo detrás del texto */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #00953b;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-right: 10px;
    border-radius: 10px; /* Hace que la barra de búsqueda sea redondeada */
    outline: orange;
    border: 1px solid gray; /* Añade un borde gris a la barra de búsqueda */
    height: 35px; /* Ajusta la altura */
}

input[type=text]:focus {
    border: 0.5px solid orange; /* Hace que la barra de búsqueda resalte de naranja al hacer clic en ella */
    box-shadow: 0 0 5px orange; /* Añade un difuminado naranja alrededor de la barra de búsqueda */
}

input[type=submit] {
    color: white; /* Cambia el color del texto a blanco */
    border: 2px solid #ffa400; /* Cambia el color del borde a naranja */
    margin-top: 8px;
    border-radius: 10px; /* Hace que el botón sea redondeado */
    outline: none; /* Elimina el borde predeterminado al hacer clic en el botón */
    transition: background-color 0.3s ease; /* Añade una transición suave al cambiar el color de fondo */
    height: 35px; /* Establece la altura del botón igual a la altura de la barra de búsqueda */
    background-color: #ffa400; /* Hace que el botón sea naranja */
}

input[type=submit]:hover {
    background-color: #45a049;
}

.header {
    position: fixed;
    top: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    background-color: #00953b;
    z-index: 1; /* Asegura que .header esté adelante de .fixed-title::before */
    padding: 10px;
    height: 50px;
}

.logo {
    height: 50px;
}

form {
    display: flex;
}

h2 {
    text-align: center; /* Centra el texto */
}

.table-container {
    overflow: auto;
    max-height: 590px; /* Ajusta esto a la altura que desees */
}

.sticky-header th {
    position: sticky;
    top: 0;
    background-color: #00953b;
    z-index: 10;
}

/* Estilos para pantallas de ancho 600px o menos */
@media (max-width: 600px) {
    .table-container {
        max-height: 300px; /* Ajusta la altura de la tabla para pantallas pequeñas */
    }

    /* Ajusta el tamaño del texto para pantallas pequeñas */
    th, td {
        font-size: 12px;
    }

    /* Ajusta el tamaño del título para pantallas pequeñas */
    .fixed-title {
        font-size: 18px;
    }
}

#status-filter {
    margin-top: 10px;
    border-radius: 5px; /* Ajusta este valor para cambiar cuán redondeados son los bordes */
    height: 30px; /* Ajusta este valor para cambiar la altura del botón de filtro */
    border: 2px solid orange; /* Añade un borde naranja al botón de filtro */
}

td {
    width: auto; /* Ajusta el ancho automáticamente para adaptarse al contenido */
    min-width: 155px; /* Establece un ancho mínimo para las celdas */
    padding: 4px 20px; /* Aumenta el espacio horizontal y mantiene el vertical reducido */
    vertical-align: center; /* Alinea el contenido en la parte superior */
    text-align: left; /* Alinea el texto a la izquierda */
    word-wrap: break-word; /* Permite que las palabras largas se rompan y pasen a la siguiente línea */
    white-space: normal; /* Asegura que el espacio y los saltos de línea se manejen de manera normal */
}

.status-checkbox {
    margin-right: 5px; /* Espaciado entre el checkbox y el texto */
}

@media (max-width: 768px) {
    .header, .fixed-title {
        padding: 5px; /* Menos padding en pantallas pequeñas */
        height: auto; /* Altura auto para adaptarse al contenido */
    }

    .fixed-title {
        margin-top: 5px;
        font-size: 14px; /* Fuente más pequeña para pantallas pequeñas */
    }

    input[type=text], input[type=submit] {
        padding: 8px 10px; /* Padding más pequeño */
        font-size: 14px; /* Fuente más pequeña */
    }
}
.header {
    display: flex;
    justify-content: space-between; /* Alinea elementos a los lados */
    align-items: center; /* Centra elementos verticalmente */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en la siguiente línea si no hay espacio */
}

img {
    max-width: 100%;
    height: auto;
}