<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lector de Récipes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='') }}">
</head>
<body>
    <div class="container"> <!-- Nuevo contenedor -->
        <div class="header">
            <img src="{{ url_for('static', filename='') }}" alt="Logo" class="logo">

            <form action="/" method="get">
                <input type="text" name="search" placeholder="nombre, cedula o medicamento">
                <input type="submit" value="Buscar">
            </form>

            <select id="status-filter" onchange="filterRecipes()">
                <option value="no procesado">No Procesado</option>
                <option value="procesado">Procesado</option>
                <option value="todos">Todos</option>
            </select>

            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept=".xml"> <!-- Solo acepta archivos .xml -->
                <input type="submit" value="Cargar Recipe">
            </form>
        </div>
    </div>
    <div class="fixed-title">
        <h1>Lector de Récipes</h1>
    </div>
    
    <div class="table-container">

    <table>
        <thead>
            <tr class="sticky-header">
            <th>ID</th>            
            <th>Fecha</th>
            <th>Médico</th>
            <th>Especialidad</th>
            <th>Pago</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Nacionalidad</th>
            <th>Cedula</th>
            <th>Telefonos</th>
            <th>Sms</th>
            <th>Correo</th>
            <th>Producto</th>
            <th>Molecula</th>
            <th>Posologia</th>
            <th>Procesado</th>
            <!-- Agrega más columnas según sea necesario -->
            </tr>
        </thead>
        {% for recipe in recipes %}
        <tr>
            <td>{{ recipe[0] }}</td>
            <td>{{ recipe[1] }}</td>
            <td>{{ recipe[2] }}</td>
            <td>{{ recipe[3] }}</td>
            <td>{{ recipe[4] }}</td>
            <td>{{ recipe[5] }}</td>
            <td>{{ recipe[6] }}</td>
            <td>{{ recipe[7] }}</td>
            <td>{{ recipe[8] }}</td>
            <td>{{ recipe[9] }}</td>
            <td>{{ recipe[10] }}</td>
            <td>{{ recipe[11] }}</td>
            <td>{{ recipe[12] }}</td>
            <td>{{ recipe[13] }}</td>
            <td>{{ recipe[14] }}</td>
            <td>
                <input type="checkbox" class="procesado-checkbox" data-id="{{ recipe[0] }}" {% if recipe[15] == 1 %}checked{% endif %}>
            </td>
            <!-- Agrega más celdas según sea necesario -->
        </tr>
        {% endfor %}
    </table>
</div>
<script src="{{ url_for('static', filename='funcionFiltro.js') }}"></script>
<script src="{{ url_for('static', filename='fileUpload.js') }}"></script>
<script src="{{ url_for('static', filename='updateProcesado.js') }}"></script>
</body>
</html>
