<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Atencion VIP clientes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='locatelfavicon.png') }}">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='locatel.png') }}" alt="Logo" class="logo" >

        <form action="/" method="get">
            <input type="text" name="search" placeholder="nombre, cedula o medicamento">
            <input type="submit" value="Buscar">
        </form>

        <select id="status-filter" onchange="filterRecipes()">
            <option value="todos">Todos</option>
            <option value="en proceso">En proceso</option>
            <option value="cotizado parcial">Cotizado parcial</option>
            <option value="cotizado total">Cotizado total</option>
            <option value="facturado parcial">Facturado parcial</option>
            <option value="facturado total">Facturado total</option>

        </select>

        <form id="downloadForm" action="javascript:void(0);" method="post">
            <input type="number" id="mes" placeholder="Mes (MM)">
            <input type="number" id="ano" placeholder="Año (AAAA)">
            <input type="submit" value="Descargar Excel">
        </form>
    </div>
    
    <div class="fixed-title">
        <h1>🔰 Atención VIP Clientes 🔰</h1>
    </div>
    
    <div class="table-container">

    <table>
        <thead>
            <tr class="sticky-header">
            <th>ID</th>            
            <th>Fecha</th>
            <th>Médico</th>
            <th>Especialidad</th>
            <th>Pago</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Nacionalidad</th>
            <th>Cedula</th>
            <th>Telefonos</th>
            <th>Sms</th>
            <th>Correo</th>
            <th>Producto</th>
            <th>Molecula</th>
            <th>Posologia</th>
            <th>Status</th> <!-- Título agregado para la columna de status -->
            <!-- Agrega más columnas según sea necesario -->
            </tr>
        </thead>
        {% for recipe in recipes %}
        <tr>
            <td>{{ recipe[0] }}</td>
            <td>{{ recipe[1] }}</td>
            <td>{{ recipe[2] }}</td>
            <td>{{ recipe[3] }}</td>
            <td>{{ recipe[4] }}</td>
            <td>{{ recipe[5] }}</td>
            <td>{{ recipe[6] }}</td>
            <td>{{ recipe[7] }}</td>
            <td>{{ recipe[8] }}</td>
            <td>{{ recipe[9] }}</td>
            <td>{{ recipe[10] }}</td>
            <td>{{ recipe[11] }}</td>
            <td>{{ recipe[12] }}</td>
            <td>{{ recipe[13] }}</td>
            <td>{{ recipe[14] }}</td>
            <td>
                <div><input type="checkbox" class="status-checkbox" data-id="{{ recipe[0] }}" data-status="en_proceso" {% if recipe[15] == 1 %}checked{% endif %}> En proceso</div>
                <div><input type="checkbox" class="status-checkbox" data-id="{{ recipe[0] }}" data-status="cotizado_parcial" {% if recipe[16] == 1 %}checked{% endif %}> Cotizado parcial</div>
                <div><input type="checkbox" class="status-checkbox" data-id="{{ recipe[0] }}" data-status="cotizado_total" {% if recipe[17] == 1 %}checked{% endif %}> Cotizado total</div>
                <div><input type="checkbox" class="status-checkbox" data-id="{{ recipe[0] }}" data-status="facturado_parcial" {% if recipe[18] == 1 %}checked{% endif %}> Facturado parcial</div>
                <div><input type="checkbox" class="status-checkbox" data-id="{{ recipe[0] }}" data-status="facturado_total" {% if recipe[19] == 1 %}checked{% endif %}> Facturado total</div>
            
            <!-- Agrega más celdas según sea necesario -->
        </tr>
        {% endfor %}
    </table>
</div>
<script src="{{ url_for('static', filename='funcionFiltro.js') }}"></script>
<script src="{{ url_for('static', filename='fileDownpload.js') }}"></script>
<script src="{{ url_for('static', filename='updateProcesado.js') }}"></script>
</body>
</html>